# Python cache & build artifacts
__pycache__/
*.pyc
.pytest_cache/
p2smi.egg-info/
build/
dist/
notebooks/
# manuscript/
data/
.ruff_cache/
# draft-pdf.yml
paper.preprint.tex
script_for_*

# Ignore local scripts or files you don't want tracked
aa_converter.py
testing/